*{
    margin: 0;
    padding: 0;
    font-family: adobe-garamond-pro;
    
    

}

header{
    background-image: url(../../picture/skyline.jpg);
    height: 25vh;
    background-size: cover;
    background-position: center;
    
}
ul{
    float: right;
    list-style-type: none;
    margin-top: 25px;

}
ul li{
    display: inline-block
}

ul li a{
    text-decoration: none;
    color: #ffffff;
    padding: 5px 20px;
    border: 1px solid #fff;
    transition: 0.6s ease;
}
ul li a:hover{
    background-color: #fff;
    color: black;
}


.logo img{
    float: left;
    width: 52px;
    height: auto;
    margin-top: 8px;
    margin-left: 12px; 
}
body{
  background-color: rgb(236, 206, 177);    
}
div.offense{
    font-size: 24px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 15px;
    position: center;

}
div.map{
    font-size: 17px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 15px;
    position: center;

}
.Container{
    position: center;
    background-position: center;
    margin: center;
    text-align: center;
    
}
.button {
    border: 1px solid black;
    outline: none;
    padding: 12px 16px;
    background-color: white;
    margin-top: 5%;
    cursor: pointer;
    
  }
  
.button:hover {
    background-color: #ddd;
  }
  
.button.active {
    background-color: #666;
    color: white;
  }


.row {
    margin: 10px -16px;
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 50px;
    position: center;
    background-position: center;
    text-align: center;
    

  }
  
  /* Add padding BETWEEN each column */
.row,
.row > .column {
    padding: 8px;
  }
  
  /* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    display: none; /* Hide all elements by default */
    text-align: center;
  }
  
  /* Clear floats after rows */ 
.row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Content */
.content {
    background-color: white;
    padding: 10px;
    text-align: center;
  }
.center{
    width: 100%;
    margin: 10px auto 20px;
    display: block;
    border: 1px solid #fff;
    text-align: center;

    
}
body,html,#map-canvas{
  height:100%;
  margin:0;
  padding:0;
  width:100%;
}
