{% extends "layout.html" %}

{% block content %}
<h1>
    100k people move to Houston on the yearly bases. When an individual or family is moving to a new place having low crime rates is one of the highest priority but just checking the crime rate of the city wouldn’t give them the whole picture, I created a web app that would break down the crimes in offense and premises category as a heatmap of crimes committed in Houston. I wanted to use visualization to give them a better understanding on the types and volume of crimes in Houston.
</h1>

{% endblock %}
