<!DOCTYPE html>
<html>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
<head>
    <title>Houston Crime Project</title>
   <link rel="stylesheet" type = "text/css" href="../static/css/main.css/">
</head>
<body>
    <header>
        <div>
            <div class = "logo">
                <img src= "../static/picture/logo.png">
            </div>
            <ul>
                <li><a href ="{{ url_for('index') }}" class="nav-link active">index</a></li>
                <li><a href ="{{ url_for('Map') }}" class="nav-link active">Map</a></li>
                <li><a href ="{{ url_for('premises') }}" class="nav-link active">Premises</a></li>
                <li><a href ="{{ url_for('Offenses') }}" class="nav-link active">Offenses</a></li>

            </ul>
        </div>
    </header>
    <div>
        {% block content %}

        {% endblock %}
    </div>
    
</body>

</html>    